# 4.8 Grouping Data & Aggregating Variables

## Contents

1. Importing Libraries
2. Importing Data
3. Grouping
4. Aggregating Data with agg()
5. Aggregating Data with tansform()
6. Deriving Columns with .loc

## 01. Importing Libraries

In [16]:
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [15]:
path = r'C:\Users\kensz\Documents\orders_products_merged_with_new_variables'

In [17]:
ords_prods_merge = pd.read_pickle(os.path.join(path, 'orders_products_merged_with_new_variables.pkl'))

In [18]:
df = ords_prods_merge[:1000000]

In [20]:
df.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,busiest_period_of_day
0,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least Busy Days,Average Orders,Average Orders
1,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least Busy Days,Most Orders,Most Orders
2,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Least Busy Days,Average Orders,Average Orders
3,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Least Busy Days,Most Orders,Most Orders
4,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly Busy,Average Orders,Average Orders
5,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Average Orders,Average Orders
6,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Most Orders,Most Orders
7,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Average Orders,Average Orders
8,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Least Busy Days,Average Orders,Average Orders
9,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Average Orders,Average Orders

In [21]:
df.shape

(1000000, 19)

## 03. Grouping

In [22]:
df.groupby('product_name')

In [26]:
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
4                19.765396
7                18.575283
13               18.950838
14               20.460336
16               20.262396
17               12.646785
19               20.168036
20               18.808671

## 04. Aggregating Data with agg()

In [27]:
df.groupby('department_id').agg({'order_number':['mean','min','max']})

              order_number
                      mean min max
department_id
4                19.765396   2  99
7                18.575283   2  99
13               18.950838   2  99
14               20.460336   2  99
16               20.262396   2  99
17               12.646785   2  98
19               20.168036   2  99
20               18.808671   2  99

## 05. Aggregating Data with transform()

In [29]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [30]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,busiest_period_of_day,max_order
0,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least Busy Days,Average Orders,Average Orders,10
1,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least Busy Days,Most Orders,Most Orders,10
2,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Least Busy Days,Average Orders,Average Orders,10
3,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Least Busy Days,Most Orders,Most Orders,10
4,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly Busy,Average Orders,Average Orders,10
5,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Average Orders,Average Orders,10
6,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Most Orders,Most Orders,10
7,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Average Orders,Average Orders,10
8,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Least Busy Days,Average Orders,Average Orders,10
9,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Average Orders,Average Orders,22
10,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly Busy,Average Orders,Average Orders,22
11,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly Busy,Most Orders,Most Orders,22
12,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Average Orders,Average Orders,22
13,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Days,Most Orders,Most Orders,22
14,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly Busy,Most Orders,Most Orders,9

In [31]:
pd.options.display.max_rows = None

## 06. Deriving Columns with .loc

In [35]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty flag'] = 'Loyal Customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty flag'] = 'Regular Customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 10, 'loyalty flag')] ='New Customer'

In [39]:
ords_prods_merge['loyalty flag'].value_counts(dropna = False)

Regular Customer    15081691
Loyal Customer      10095381
New Customer         5151691
Name: loyalty flag, dtype: int64

In [41]:
ords_prods_merge[['user_id', 'loyalty flag', 'order_number']].head(60)

    user_id      loyalty flag  order_number
0         1      New Customer             2
1         1      New Customer             3
2         1      New Customer             4
3         1      New Customer             5
4         1      New Customer             6
5         1      New Customer             7
6         1      New Customer             8
7         1      New Customer             9
8         1      New Customer            10
9        15  Regular Customer            15
10       15  Regular Customer            17
11       15  Regular Customer            18
12       15  Regular Customer            21
13       15  Regular Customer            22
14       19      New Customer             2
15       19      New Customer             5
16       19      New Customer             7
17       21  Regular Customer            10
18       31  Regular Customer            10
19       31  Regular Customer            17
20       43  Regular Customer             6
21       43  Regular Customer             9
22       52  Regular Customer             2
23       52  Regular Customer             3
24       52  Regular Customer             5
25       52  Regular Customer             7
26       52  Regular Customer             9
27       52  Regular Customer            10
28       52  Regular Customer            11
29       52  Regular Customer            12
30       52  Regular Customer            15
31       52  Regular Customer            17
32       52  Regular Customer            18
33       52  Regular Customer            19
34       52  Regular Customer            21
35       67  Regular Customer             2
36       67  Regular Customer             3
37       67  Regular Customer             4
38       67  Regular Customer             5
39       67  Regular Customer             6
40       67  Regular Customer             8
41       67  Regular Customer             9
42       67  Regular Customer            10
43       67  Regular Customer            11
44       67  Regular Customer            12
45       67  Regular Customer            13
46       67  Regular Customer            14
47       67  Regular Customer            16
48       67  Regular Customer            18
49       67  Regular Customer            19
50       67  Regular Customer            21
51       67  Regular Customer            22
52       67  Regular Customer            23
53       81      New Customer             3
54       81      New Customer             5
55       82  Regular Customer             3
56       82  Regular Customer             4
57       82  Regular Customer             6
58       82  Regular Customer             9
59       82  Regular Customer            10